body {
  font-size: 16px;
  background: #455056;
}
header {
  display: block;
  width: 100%;
  height: 150px;
  background: #777f82;
}
.logo-chiwiscor {
  display: inline-block;
  width: 50%;
  height: 100%;
  background: url("../ima/chiwiscor.png") no-repeat center;
  background-size: contain;
}
.logo-laravel {
  display: inline-block;
  width: 49%;
  height: 100%;
  background: url("../ima/laravel.jpg") no-repeat right;
  background-size: contain;
}
.container-botones {
  width: 50%;
  height: 80px;
  margin: 0 auto;
  text-aling: center;
  padding-left: 5%;
}
.container-botones button {
  width: 30%;
  height: 100%;
  background: #2d3538;
  margin: 0 auto;
  font-size: 2em;
  color: #aaabab;
  border: none;
}
.contenido {
  width: 100%;
  min-height: 400px;
  background: #455056;
}
.error {
  width: 100%;
  min-height: 400px;
  background: url("../ima/404.png") no-repeat center;
  background-size: contain;
}
.prof {
  display: inline-block;
  width: 150px;
  height: 400px;
  background: url("../ima/profe.jpg") no-repeat center;
  background-size: cover;
}
.info {
  vertical-align: top;
  display: inline-block;
  width: 80%;
  min-height: 400px;
  background: #4b5459;
  color: #878785;
}
.info span {
  font-style: italic;
  font-size: 2.5em;
}
hr {
  width: 80%;
  height: 2px;
  background: #2c353a;
  border: none;
}
.des {
  font-size: 1.5em;
  padding: 0.9em;
}
strong {
  font-size: 3em;
}
.seccion {
  font-size: 4em;
  text-align: center;
}
footer {
  width: 100%;
  height: 50px;
  background: #777f82;
  text-align: center;
  font-size: 1.5em;
  color: #0d3c82;
  position: relative;
  bottom: 0;
}
.git {
  width: 100px;
  height: 100px;
  background: url("../ima/hit.jpg") no-repeat center;
  background-size: contain;
  position: fixed;
  right: 0;
  top: 400px;
}
